body {
  padding-top: 15px;
  font-family: Arial;
  color: white;
  background-color: rgb(34, 34, 34);
  text-align: center;
}

.profilePic {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 6px solid white;
  transition-duration: .5s;
}

.profilePic:hover {
  transform: scale(1.15) rotate(-6deg);
}

.row {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.iconImg {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.icon {
  padding: 30px;
  transition-duration: .5s;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
